<IfModule mod_rewrite.c>
    AddType text/html .shtml
    AddOutputFilter INCLUDES .shtml .html .htm

    Options Indexes FollowSymLinks Includes

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
